{% extends "base.html" %}

{% block title %}Cadastro de cliente{% endblock %}

{% block content %}
  <div class="container">
    <form action="#" method="post">
      <fieldset id="dados_empresa">
      <legend>Cadastro de playbook</legend>
        <div class="mb-3">
          <label for="alerta-nome" class="form-label">Nome do playbook</label>
          <input type="text" id="alerta-nome" name="alerta-nome" class="form-control">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
